{% load static %}
<html>
    <title>Loja - Wpensar</title>
    <link rel="stylesheet" href="{% static 'loja/style.css' %}">    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
<body>
    <div id="header" class="p100">
        <div id="top-menu">
            <a href="/">Início</a> • <a href="/carrinho">Carrinho</a>
            <div class="right">
                {% if request.user.is_authenticated %}
                    <span>Olá, {{user}}</span> • <a href="/minhas-compras">Minhas compras</a> • <a href="/logout">Sair</a>
                {% else %}
                    <a href="/admin">Admin</a> • <a href="/cadastro">Cadastre-se</a> • <a href="/login">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="p90">
            <h1>Loja</h1>
        </div>
    </div>
    <div class="p90">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer" class="p100">
        <div class="p90">
            <span>Etapa de Teste - Vaga Desenvolvedor de Software Junior</span>
        </div>
    </div>
</body>
</html>
